@import '../../../common.styl'

.screen
  background white

.screenWrapper
  position absolute
  left 84px
  top 0
  width calc(100% - 84px)
  padding 40px
  background-color #f5f5fa

.table
  background-color #fff

.head
  background-color: #fff
  display flex
  justify-content space-between
  width 100%
  margin-top 20px
  border 1px solid black
  padding 5px

.row
  background-color: #fff
  width 100px

.body
  background-color: #fff

.pagination
  background-color: #fff
  display flex
  justify-content center
  align-items center
  padding 15px 0
