.screenWrapper
  padding 28px
  position absolute
  left 84px
  top 0
  width calc(100% - 80px)

.screen
  background white
  coolScrollbar()


.items
  padding: 8px

.order
  text-align center
  font-weight bold
  font-size 28px
